<ion-header>
  <ion-row>
    <ion-col size="10%">
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
    </ion-col>
    <ion-col>
      <ion-card-content>
        <ion-card-title>
          (ชื่อพนักงาน)
        </ion-card-title>
          (ตำแหน่งพนังงาน)
      </ion-card-content>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label (click)="notifications()">แจ้งเตือนทั้งหมด</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="publicrelations()">ข่าวประชาสัมพันธ์</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="eventecalender()">ปฏิทินกิจกรรม</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="schedule()">กำหนดการต่างๆ</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="leave()">คำขอลางาน</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="timestamp()">เวลาเข้างาน ออกงาน</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>ตั้งค่า</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="singout()">ออกจากระบบ</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

