<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size="10%">
        <ion-icon size="large" name="arrow-back" (click)="back()"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-title>แก้ไขกำหนดการต่าง ๆ</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="10%">
        หัวข้อ : 
      </ion-col>
      <ion-col style="width:60%;">
        <ion-input [(ngModel)]="topic"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="10%">
        รายละเอียด :
      </ion-col>
      <ion-col >
        <ion-textarea [(ngModel)]="detail"></ion-textarea>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="10%">
        เวลากำหนดการ :
      </ion-col>
      <ion-col >
        <ion-datetime [(ngModel)]="Date" displayFormat="HH:mm" pickerFormat="HH:mm" placeholder="เลือกเวลากำหนดการ"></ion-datetime>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="10%">
        วันที่กำหนดการ :
      </ion-col>
      <ion-col >
        <ion-datetime [(ngModel)]="Date" displayFormat="DD MMMM YYYY" pickerFormat="DD MMMM YYYY" [min]="datenow" placeholder="เลือกวันที่กำหนดการ"></ion-datetime>
      </ion-col>
    </ion-row>

    <div text-center class="Error">{{message}}</div> 
    <ion-row>
      <ion-col >
        <ion-button expand="block"(click)="confirm()">ยืนยันการแก้ไขกำหนดการ</ion-button>
      </ion-col>
      <ion-col >
        <ion-button expand="block" (click)="back()">ยกเลิกการแก้ไขกำหนดการ</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
