<ion-header >
  <ion-toolbar >
    <ion-row  >
      <ion-col size="10%">
        <ion-icon size="large" name="arrow-back" (click)="back()"></ion-icon>
      </ion-col>
      <ion-col  >
        <ion-title>โปรไฟล์</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">

  <ion-row >
    <ion-col class="rowimgProfile" >
      <img src="https://bit.ly/2yGjRzz">
    </ion-col>
  </ion-row>
  
  <ion-card>

  <ion-item>
    <ion-avatar>
      <img class="setting" src="https://bit.ly/3cuDIRf">
    </ion-avatar>
    <ion-label >รหัส : {{IDPersonnel}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar>
      <img class="setting" src="https://bit.ly/2yG1vPj">
    </ion-avatar>
    <ion-label >ตำแหน่ง   : {{Positionname}}  </ion-label>
  </ion-item>

  
  <ion-item>
    <ion-avatar>
      <img class="setting" src="https://bit.ly/2zmczRB">
    </ion-avatar>
    <ion-label >ชื่อ  :  {{Prefix}}{{Firstname}} {{Lastname}} </ion-label>
  </ion-item>

  
  <ion-item>
    <ion-avatar>
      <img class="setting" src="https://bit.ly/2LaX15Z">
    </ion-avatar>
    <ion-label >อีเมล์ : {{Email}}  </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar>
      <img class="setting" src="https://bit.ly/2Aefaxt">
    </ion-avatar>
    <ion-label >เบอร์โทร : {{Number}} </ion-label>
  </ion-item>

</ion-card>
</ion-content>
